<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <h1><%= f.text_field :title %></h1><br>

  <label>Post Description</label><br>
  <p><%= f.text_area :description %></p><br>
  
  <%= f.submit %>
<% end %>